<div class="container">
	<div class="jumbotron" style="background-image: url(assets/images/tree-sm.png)">
    	<h2 style="color:darkblue">Watson Discovery Demo</h2>
  	</div>
    <div class="container">
    	<form #searchForm="ngForm" (ngSubmit)="supplierSearch(company.value, product.value)">
        	<p>
            	<label>Company:</label>
            	<input #company type="text" required>
        	</p>
        	<p>
            	<label>Product:</label>
            	<input #product type="text" required>
        	</p>
        	<p>
            	<button type="submit" [disabled]="!searchForm.valid">Submit</button>
        	</p>
    	</form>
    </div>
    <footer>
      <p>&copy; IBM | Cloud Architecture Service Engineering | 3/15/2017  {{version}} </p>
    </footer>
</div>
