
<div class="row">
  <h3>Welcome to the Watson Discovery Demos</h3>
  <p>The Broker pattern is used to facade the Watson services to help adding service orchestration, monitoring, resiliency capabilities...</p>
  <img src="assets/images/wds-broker-comp.png" alt="Component view" width="514" height="206"/>

</div>
<div class="row">
  <div class="col-md-4 roundRect" style="box-shadow: 10px 10px 5px #10d1d1; border-color: #10d1d1;">
        <h2>News</h2>
        <p>Search company and product in News collection</p>
        <p><button (click)="wdsNews()" class="btn">News</button></p>
  </div>
  <!-- Following is visible for specific compute model -->
  <div class="col-md-4 roundRect" style="box-shadow: 10px 10px 5px #10d1d1; border-color: #10d1d1;">
        <h2>Weather</h2>
        <p>Search for huriccane related information</p>
        <p><button (click)="wdsWeather()" class="btn">Weather</button></p>
  </div>
</div>
