<div class="row">

    <div class="col-md-4">
      <h4 style="color:darkblue">Weather Search</h4>
      <p>This demonstration proposes to use a Weather collection deployed on Watson Discovery service</p>
      <ul>
        <li>- Use the form to select a persona and then one of the typical query this persona may do</li>
        <li>- Or use the query field to enter a free plain english query</li>
        <li>- The mockup button is for testing without Discovery, it is a static response</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="roundRect" style="height:300px">
        <!-- (ngSubmit)="weatherSearch(query)" -->
      	<form #searchForm="ngForm" >
              	<label>Persona:</label>
                <select class="form-control" [(ngModel)]="selectedPersona" name="selectedPersona" (change)="onSelectPersona()">
                  <option *ngFor="let p of personas">
                    {{p}}
                  </option>
                </select><br/>
                <label>Predefined Query:</label>
                <select  class="form-control" [(ngModel)]="selectedQuery" name="selectedQuery" (change)="onSelectQuery()">
                  <option *ngFor="let q of queries">
                    {{q}}
                  </option>
                </select><br/>
              	<label>Query:</label>
              	<input class="form-control" [(ngModel)]="query" name="query" type="text">
          	<br/>
              	<button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid" (click)="weatherSearch(query)">Submit</button>
      	</form>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Results</h4>
      <accordion>
            <accordion-group [heading]="r.extracted_metadata.title" *ngFor="let r of searchResults" [isGroupOpen]="isGroupOpen">
                    <app-wdsbaseresult *ngIf="r" [result]="r"></app-wdsbaseresult>
            </accordion-group>
      </accordion>
    </div>
</div>
