<div class="collapse navbar-collapse" id="main-navbar">
  <ul class="nav navbar-nav">
      <li class=""><a [routerLink]="['/']">Home</a></li>
  </ul>
</div>
<div class="row">
   <div class="col-md-4">
      <h4 style="color:darkblue">Search Supplier and Product</h4>
      <div class="roundRect">
      	<form #searchForm="ngForm" (ngSubmit)="supplierSearch(company.value, product.value)">
          <div class="form-group">
             	<label>Company:</label>
              <input  autofocus type="text" class="form-control" required #company name="company" id="company">
          </div>
          <div class="form-group">
              	<label>Product:</label>
              	<input #product type="text" class="form-control" required name="product" id="product">
          </div>
          <div class="form-group">
              	<button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid">Submit</button>
          </div>
      	</form>
      </div>
    </div>
    <div class="col-md-8">
		    <results [results]="searchResults"></results>
    </div>
</div>
