<div class="collapse navbar-collapse" id="main-navbar">
  <ul class="nav navbar-nav">
      <li class=""><a [routerLink]="['/']">Home</a></li>
  </ul>
</div>
<div class="container">
        <h4 style="color:darkblue">Weather Search</h4>
    	<form #searchForm="ngForm" (ngSubmit)="supplierSearch(company.value, product.value)">
        	<p>
            	<label>Company:</label>
            	<input #company type="text" required>
            	<label>Product:</label>
            	<input #product type="text" required>
        	</p>
        	<p>
            	<button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid">Submit</button>
        	</p>
    	</form>
		<results [results]="searchResults"></results>
</div>
